
/* Layout Settings */
*{
    box-sizing: border-box;
}

/* Body Settings */
body {
    background-color: rgb(54, 54, 54);
    font-family: 'Courier New', Courier, monospace;
}

/* Header Settings */
h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 241, 131);

    padding: 20px;

    /* text-align: center; */
    font-size: 35px;
}

h2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 241, 131);

    padding: 20px;

    /* text-align: center; */
    font-size: 35px;
}

/* Flexbox Container */
section {
    display: -webkit-flex;
    display: flex;
}

/* Navigation Menu */
nav {
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    background: #000000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    color: rgb(194, 171, 0);
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: rgb(175, 175, 175);
}


@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}


/* Paragraph Settings */
p {
    color: rgb(255, 208, 0);
    padding: 10px;
}

/* Crow Settings */
#Crow {
    padding: 20px;
    width: 10%;
    height: auto;
}

#yt {
    color: rgb(221, 0, 0);

}


#Time {
    padding: 20px;
    color: rgb(219, 216, 173);
}

a {
    padding: 00px;
}

button {
    padding: 10px
}


/* @media only screen and (max-width:150px) {
    #Crow {
        width: 115px;
    }
} */